html {
    width: 100%;
    height: 100%;

}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 600px auto 150px;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";

}

main {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "section1 sider"
        "section2 sider"
        "section3 sider";
}

.nav {
    display: grid;
    grid-area: nav;
    background-color: white;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;

}

.nav ul li {}

.nav ul li a {}

.header {

    display: grid;
    grid-area: header;
    background-color: black;
    color: whitesmoke;

}

.main {
    display: grid;
    grid-area: main;
    border: solid 1px black;



}

.section {
    display: grid;
    width: 100%;
    height: 100%;
}

.article {

    width: 100%;
    height: 100%;
}

.footer {
    display: grid;
    grid-area: footer;
    border: solid 1px black;
}

.section1 {
    display: grid;
    grid-area: section1;
    border: solid 1px red;
}

.section2 {
    display: grid;
    grid-area: section2;
    border: solid 1px red;
}

.section3 {
    display: grid;
    grid-area: section3;
    border: solid 1px red;
}

.sider {
    display: grid;
    grid-area: sider;
    border: solid 1px blue;
}

/*--------------------------------------------- SECTION 1 ---------------------------------------------*/

.section1 article {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% 70%;
    grid-template-areas:
        "titulo imagen"
        "texto imagen";
}

.section1 .titulo {
    display: grid;
    grid-area: titulo;
}

.section1 .imagen {
    display: grid;
    grid-area: imagen;

    img {
        width: 100%;
        height: auto;
    }
}

.section1 .texto {
    display: grid;
    grid-area: texto;
}

/*--------------------------------------------- SECTION 2 ---------------------------------------------*/

.section2 article {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% 70%;
    grid-template-areas:
        "titulo imagen"
        "texto imagen";
}

.section2 .titulo {
    display: grid;
    grid-area: titulo;
}

.section2 .imagen {
    display: grid;
    grid-area: imagen;
    img {
        width: 100%;
        height: auto;
    }
}

.section2 .texto {
    display: grid;
    grid-area: texto;
}

/*--------------------------------------------- SECTION 3 ---------------------------------------------*/
.contendor{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.card {
    width: 270px;
    height: 350px;
    border: solid 1px black;
    border-radius: 10px;


}
.card:hover{
    cursor: pointer;
    transform: scale(1.03);
        transition: all 0.6s ease;
}
/*--------------------------------------------- TITULO ---------------------------------------------*/
.card .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 60px;
    min-height: 60px;
}
.card .titulo h2{
    padding: 0;
    margin: 0 auto;
}
/*--------------------------------------------- IMAGEN ---------------------------------------------*/
.card .imagen img{
    width: 100%;
    height: 200px;
}
/*--------------------------------------------- PRECIO ---------------------------------------------*/
.precio{
   padding-left: 10px;
}
/*--------------------------------------------- BOTONES ---------------------------------------------*/
.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    
}
.botones button{
    width: 60%;
    height: 25px;
}
.botones button:hover{
    cursor: pointer;
}