html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuadrado1{
    width: 200px;
    height: 200px;
    border-top: solid 1px red;
    transform: rotate(120deg);
    position: relative;
    bottom: 36px;
    left: 64px;

}
.cuadrado2{
    width: 200px;
    height: 200px;
    border-bottom: solid 1px blue;
    
}
.cuadrado3{
    width: 200px;
    height: 200px;
    border-bottom: solid 1px green;
    position: relative;
    bottom: 36px;
    right: 63px;
    transform: rotate(60deg);
}
