    html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    border: 4px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contenedor{
    background-color: #333;
    border: 1px solid black;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}